//*!
// *
// *  Base Styles
// *
// *  Description: 
// *    Your base styles are your site-wide styles or your standard styles.
// *    Everything that you think can be widely available. Your reset can be your
// *    base styles but we already have that in a separate file.
// *
// *  Author: mcometa
// */

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


